head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')

    link(rel="stylesheet" type="text/css" href="/resources/css/reset.css")
    link(rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/ng-table/dist/ng-table.min.css")
    link(rel="stylesheet" type="text/css" href="/resources/css/index.css")
    link(rel="stylesheet" type="text/css" href="/resources/css/modal.css")
    link(rel="stylesheet" type="text/css" href="/resources/css/form.css")
    link(rel="stylesheet" type="text/css" href="/resources/css/pad.css")

    script(type='text/javascript', src="/lodash/index.js")
    script(type='text/javascript', src="/moment/moment.js")
    script(type='text/javascript', src="/angular/angular.js")
    script(type='text/javascript', src="/ng-table/dist/ng-table.js")
    script(type='text/javascript', src="/resources/js/listings.js")
    script(type='text/javascript', src="/resources/js/Model.js")
    script(type='text/javascript', src="/resources/js/FieldModel.js")
    script(type='text/javascript', src="/resources/js/RowModel.js")
    script(type='text/javascript', src="/resources/js/Util.js")
    //- script(type='text/javascript', src="https://code.jquery.com/jquery-2.1.3.min.js")
    script(type='text/javascript').
        window.listings = !{ foreclosures };