extends layout

block content
    div.row.text-white
        div.spacer-xs
        each counties, region in regions
            a(href="/#{region}").col-xs-6.caps
                div.bg-blue.bg-orange-hover
                    div
                        //- - currentBg += 1
                        //- - if (currentBg === bgs.length) currentBg = 0
                        div.spacer-xs
                        h3.text-thin #{region} Counties
                        div.spacer-xxs
                    div.spacer-1.bg-white
                    div.pad-lr
                        div.spacer-sm
                        h4.pad-lr
                            for county in counties
                                span.pad-b.text-thin #{county}&nbsp;
                        div.spacer-xs

                div.spacer-md