table.table.table-bordered
    thead
        tr
            td
                div.editable
                    i
                    i.fa.fa-map-marker
                    span County

            +editableTHead('City', 'city', 'fa-map-marker')
            +editableTHead('Zip', 'zip', 'fa-map-marker')
            +editableTHead('Address', 'street_addr', 'fa-map-marker')

    tbody
        tr
            td [[ modal.data.model.county ]]

            +editableTData('city', 1)
            +editableTData('zip', 2)
            +editableTData('street_addr', 3)