table.table.table-bordered
    thead
        tr
            +editableTHead('Sale Location', 'sale_location', 'fa-map-marker')
            +editableTHead('Appraisal Price', 'appraisal_price', 'fa-dollar')
            +editableTHead('Mortgage Value', 'buy_price', 'fa-dollar')
            +editableTHead('Mortgage Year', 'last_sold_year', 'fa-calendar-o')

    tbody
        tr
            +editableTData('sale_location', 4)
            +editableTData('appraisal_price', 5)
            +editableTData('buy_price', 6)
            +editableTData('last_sold_year', 7)

table.table.table-bordered
    thead
        tr
            +editableTHead('Sale Date', 'sale_date', 'fa-calendar-o')
            +editableTHead('Attorney', 'attorney', 'fa-briefcase')
            +editableTHead('Bank', 'bank', 'fa-bank')

    tbody
        tr
            +editableTData('sale_date', 8)
            +editableTData('attorney', 9)
            +editableTData('bank', 10)
