table.table.table-bordered
    thead
        tr
            +editableTHead('Name 1', 'name1', 'fa-user')
            +editableTHead('Name 2', 'name2', 'fa-user-plus')
            +editableTHead('Year Built', 'build_year', 'fa-calendar-o')
            +editableTHead('Last Sold Price', 'last_sold_price', 'fa-dollar')

    tbody
        tr
            +editableTData('name1', 11)
            +editableTData('name2', 12)
            +editableTData('build_year', 13)
            +editableTData('last_sold_price', 14)
