table.table.table-bordered
    thead
        tr
            td County
            td
                label.editable(for="city")
                    i.fa.fa-pencil
                    i.fa.fa-map-marker
                    span City
            td
                label.editable(for="zip")
                    i.fa.fa-pencil
                    i.fa.fa-map-marker
                    span Zip
            td
                label.editable(for="street_addr")
                    i.fa.fa-pencil
                    i.fa.fa-map-marker
                    span Address

    tbody
        tr
            td [[ modal.data.model.county ]]

            +editableTD('city', 1)
            +editableTD('zip', 2)
            +editableTD('street_addr', 3)