table.table.table-bordered
    thead
        tr
            td
                label.editable(for="sale_location")
                    i.fa.fa-pencil
                    i.fa.fa-map-marker
                    span Sale Location

            td
                label.editable(for="appraisal_price")
                    i.fa.fa-pencil
                    i.fa.fa-dollar
                    span Appraisal Price
            td
                label.editable(for="buy_price")
                    i.fa.fa-pencil
                    i.fa.fa-dollar
                    span Mortgage Value
    tbody
        tr
            +editableTD('sale_location', 4)
            +editableTD('appraisal_price', 5)
            +editableTD('buy_price', 6)


table.table.table-bordered
    thead
        tr
            td
                label.editable(for="sale_date")
                    i.fa.fa-pencil
                    i.fa.fa-calendar-o
                    span Sale Date
            td
                label.editable(for="attorney")
                    i.fa.fa-pencil
                    i.fa.fa-briefcase
                    span Attorney

            td
                label.editable(for="bank")
                    i.fa.fa-pencil
                    i.fa.fa-bank
                    span Bank

    tbody
        tr
            +editableTD('sale_date', 7)
            +editableTD('attorney', 8)
            +editableTD('bank', 9)
