table.table.table-bordered
    thead
        tr
            +editableTHead('Bed', 'bed', 'fa-bed')
            +editableTHead('Bath', 'bath', 'fa-tint')
            +editableTHead('Lot Area (acres)', 'lot_area', 'fa-tree')
            +editableTHead('Indoor Area (sqft)', 'indoor_area', 'fa-home')
    tbody
        tr
            +editableTData('bed', 15)
            +editableTData('bath', 16)
            +editableTData('lot_area', 17)
            +editableTData('indoor_area', 18)