form {
    position: relative;
}

input[type=text],
input[type=email] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    overflow: hidden;
    padding: 5px 10px;
    color: inherit;
    border: 1px solid #414141;
    width: 100%;
}

input[type=text]:focus,
input[type=email]:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

input[type=text].invis,
input[type=email].invis {
    background: transparent;
    border: none;
    padding: 0;
    box-shadow: none;
    text-align: center;
}

.editable {
    position: relative;
    width: 100%;
    font-weight: 400;
}

.editable i.fa {
    top: 0;
    position: absolute;
    font-size: 1.3em;
}

.editable i.fa:first-of-type {
    right: 4px;
}

.editable i.fa:nth-of-type(2) {
    left: 4px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    font-weight: 400;
}