.page-column {
    min-width: 850px;
}

a,
label,
[ng-click],
[type="submit"],
.clickable {
    cursor: pointer;
}

.bg-green {
    background-color: #5E9E55;
}

.bg-red {
    background-color: #D14D3B;
}

.text-white {
    color: #FFFFFF;
}

.text-thin {
    font-weight: 100;
    letter-spacing: 0.02em;
}