.page-column {
    min-width: 1000px;
}

.width-full {
    width: 100%;
}

a,
label,
[ng-click],
[type="submit"],
.clickable {
    cursor: pointer;
}

.caps {
    text-transform: capitalize;
}

.bg-white {
    background-color: #ffffff;
}

.bg-gray {
    background-color: #888;
}

.bg-purple {
    background-color: #88728C;
}

.bg-green {
    background-color: #5E9E55;
}

.bg-red {
    background-color: #D14D3B;
}

.bg-orange {
    background-color: #D19452;
}

body .bg-orange-hover:hover {
    background-color: #D19452;
}

.bg-blue {
    background-color: #416873;
}

.bg-yellow {
    background-color: #CFBC52;
}

.text-white {
    color: #FFFFFF;
}

.text-gray {
    color: #888;
}

.text-gray-dark {
    color: #414141;
}


.text-gray-dark-hover:hover {
    color: #414141;
}

.text-green {
    color: #5E9E55;
}

.text-red {
    color: #D14D3B;
}

.text-orange {
    color: #D19452;
}

.text-blue {
    color: #416873;
}

.text-thin {
    font-weight: 200;
    letter-spacing: 0.03em;
}

.lead,
label,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}