extends layout

block content
    div.row.text-white
        div.spacer-xs
        each counties, region in regions
            a(href="/#{region}").col-xs-6.caps
                div.bg-blue.bg-orange-hover
                    div
                        div.spacer-xs
                        h3.text-thin #{region} Counties
                        div.spacer-xxs
                    div.spacer-1.bg-white
                    div.pad-lr
                        div.spacer-sm
                        h4.pad-lr
                            for county, i in counties
                                if i !== 0
                                    span.text-thin &nbsp;|&nbsp;
                                span.pad-b.text-thin #{county}
                        div.spacer-xs

                div.spacer-md