div.spacer-sm
h3.text-left &nbsp;Sale
div.spacer-sm

table.table.table-bordered
    thead
        tr
            td
                label.editable(for="sale_date")
                    span Sale Date
                    i.fa.fa-pencil
            td
                label.editable(for="sale_location")
                    span Sale Location
                    i.fa.fa-pencil

            td
                label.editable(for="appraisal_price")
                    span Appraisal Price
                    i.fa.fa-pencil

            td
                label.editable(for="buy_price")
                    span Max. Buy Price
                    i.fa.fa-pencil
    tbody
        tr
            +editableTD('sale_date', 4)
            +editableTD('sale_location', 5)
            +editableTD('appraisal_price', 6)
            +editableTD('buy_price', 7)