table.table.table-bordered
    thead
        tr
            td
                label.editable(for="sale_date")
                    span Sale Date
                    i.fa.fa-pencil
            td
                label.editable(for="sale_location")
                    span Sale Location
                    i.fa.fa-pencil
            td
                label.editable(for="price")
                    span Price
                    i.fa.fa-pencil
    tbody
        tr
            +editableTD('sale_date', 1)
            +editableTD('sale_location', 2)
            +editableTD('price', 3)