h4.text-left &nbsp;Sale
div.spacer-xxs

table.table.table-bordered
    thead
        tr
            td
                label.editable(for="sale_location")
                    span Sale Location
                    i.fa.fa-pencil

            td
                label.editable(for="appraisal_price")
                    span Appraisal Price
                    i.fa.fa-pencil

            td
                label.editable(for="buy_price")
                    span Max. Buy Price
                    i.fa.fa-pencil
    tbody
        tr
            +editableTD('sale_location', 4)
            +editableTD('appraisal_price', 5)
            +editableTD('buy_price', 6)


table.table.table-bordered
    thead
        tr
            td
                label.editable(for="sale_date")
                    span Sale Date
                    i.fa.fa-pencil
            td
                label.editable(for="attorney")
                    span Attorney
                    i.fa.fa-pencil

            td
                label.editable(for="bank")
                    span Bank
                    i.fa.fa-pencil

    tbody
        tr
            +editableTD('sale_date', 7)
            +editableTD('attorney', 8)
            +editableTD('bank', 9)
