div.spacer-sm
h3.text-left &nbsp;Home History
div.spacer-sm

table.table.table-bordered
    thead
        tr
            td
                label.editable(for="name1")
                    span Name 1
                    i.fa.fa-pencil

            td
                label.editable(for="name2")
                    span Name 2
                    i.fa.fa-pencil

            td
                label.editable(for="last_sold_price")
                    span Last Sold Price
                    i.fa.fa-pencil
            td
                label.editable(for="last_sold_year")
                    span Last Sold Year
                    i.fa.fa-pencil
    tbody
        tr
            +editableTD('name1', 8)
            +editableTD('name2', 9)
            +editableTD('last_sold_price', 10)
            +editableTD('last_sold_year', 11)